APP_NAME="Madani Montessori Islamic School"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://madanimontessori.online

APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=id_ID

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

ADMIN_INITIAL_PASSWORD=
ADMIN_PANEL_PATH=madani-cms
ADMIN_ALLOWED_IPS=
SECURITY_ALLOWED_EXTERNAL_HOSTS=madanimontessori.online,www.madanimontessori.online,wa.me,forms.gle,docs.google.com,www.google.com,instagram.com,www.instagram.com

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=madani_cms
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=true
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=s3
FILAMENT_FILESYSTEM_DISK=s3
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=auto
AWS_BUCKET=
AWS_ENDPOINT=
AWS_URL=
AWS_USE_PATH_STYLE_ENDPOINT=false
LIVEWIRE_TEMPORARY_FILE_UPLOAD_DISK=s3
LIVEWIRE_TEMPORARY_FILE_UPLOAD_DIRECTORY=livewire-tmp
FILESYSTEM_THROW=false
FILESYSTEM_REPORT=false

VITE_APP_NAME="${APP_NAME}"

MADANI_NIDHAM_API_URL=https://api.madanimontessori.online/api/v1
